.container-grid {
  position: relative;
  margin: 0.5rem auto;
}

.grid {
  width: 100%;
  height: 70vh;
  padding: 0.5rem;
}

.ConGit {
  background-color: rgb(255, 255, 255);
}

.boxImg {
  position: relative;
  border-radius: 15px;
  text-align: center;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.144))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  background-size: cover;
  overflow: hidden;
}

.box-Jaeleng {
  position: absolute;
  width: 490px;
  height: 690px;
  transform: translateY(200px);
  right: 20%;
  overflow: hidden;
  z-index: 9;
}
#Jaeleng {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PathHead {
  position: relative;
}

.right-path {
  position: absolute;
  display: flex;
  align-items: center;
  width: 40px;
  height: 35%;
  color: #ffffff;
  background-color: #365e32;
  right: 30px;
  top: 25%;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 5;
}

.right-path h1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.HeadPath-01 {
  height: 60px;
  top: -5px;
  left: -1px;
  z-index: 5;
  position: absolute;
  overflow: hidden;
}

.HeadPath-02 {
  min-height: 60px;
  top: -10px;
  left: -4px;
  z-index: 6;
  position: absolute;
  overflow: hidden;
}

.list-iconsPath {
  position: absolute;
  background-color: #365e32;
  left: 18px;
  top: 120px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  gap: 10px;
  z-index: 8;
}

.list-iconsPath::after {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 50px;
  top: 120px;
  z-index: 99;
}
.i01 {
  z-index: 9;
  background-color: #ffffff;
  color: rgb(53, 53, 53);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.i01:hover {
  transition: all 0.3s ease-out;
  background-color: #fa7070;
  color: #ffffff;
}

.headline-Textbg {
  position: absolute;
  width: 400px;
  background-color: rgba(54, 94, 50, 0.89);
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 25px;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.headline-Textbg::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 50%;
  top: -50px;
  right: 0;
  box-shadow: 7px 7px #365e32;
  z-index: 4;
}

.bg-Img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-Img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.left-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    36deg,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0) 60%
  );
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
  z-index: 3;
}

.box-name {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all ease-in 0.3s;
  z-index: 10;
}
.box-name:hover {
  background-color: rgb(0, 0, 0);

  scale: 1.2;
}
.box-header {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  z-index: 10;
}

.box-header_sm  {
  display: none;
}

.boxImg video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bgI-1 {
  background: rgba(54, 94, 50, 0);
  background: linear-gradient(
    90deg,
    rgba(54, 94, 50, 1) 0%,
    rgb(54, 94, 50) 100%
  );
  border-radius: 25px;
  border: 40px solid rgb(54, 94, 50);
  overflow: hidden;
  z-index: 2;
}
.bgI-1 img {
  border-radius: 25px;
  z-index: 1;
}
.bgI-2 {
  z-index: 3;
}
.box-slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box; /* ทำให้ padding รวมอยู่ในขนาดขององค์ประกอบ */
}

.box-slideImg img {
  width: auto;
  height: 100%;
  object-fit: cover;
  background-position: center;
  display: block; /* ป้องกันการเกิด space ด้านล่างของรูปภาพ */
}

.slick-list {
  width: 100%; /* ปรับขนาดรูปภาพให้เต็มความกว้างของ box */
  height: 100%;
  object-fit: cover;
}

.boxImg img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.bi01 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bi01 .Slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bi02 {
  border: 5px solid #365e32;

}

.bi03 {
  border: 5px solid #365e32;
  position: relative;

}

.box_text {
  position: absolute;
  top: 30%;
  left: 1.5rem;
  font-size: 27px;
  font-weight: 600;
  transition: all 0.3s ease-in;

  
}

.box_text h1 {
  color: rgb(36, 36, 36);
}
.box_text h2 {
  background-color: rgb(54, 94, 50);
  color: #ffffff;
  padding: 10px;
  border-radius: 25px;
}

.head-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem;
  top: 20px;
  left: 30px;
  z-index: 9;
}

.menugrid {
  height: auto;
  padding: 0.5rem;
}

.menu-grid {
  background-color: #365e32;
  color: #ffffff;
  height: 80px;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  cursor: pointer;
  transition: transform 0.2s ease-out, background-color 0.2s 0.1s,
    border ease-out 0.2s, color 0.2s;
}

.menu-grid:hover {
  background-color: #fa7070;
  color: #ffffff;
  border: 5px solid #ffffff;
}

@media (max-width: 1290px) {
  .headline-Textbg {
  }
  .headline-Textbg h1 {
    font-size: 4rem;
  }
  .headline-Textbg p {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .headline-Textbg {
  }
  .headline-Textbg h1 {
    font-size: 3rem;
  }
  .headline-Textbg p {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .bgI-1 {
    border: 30px solid rgb(54, 94, 50);
  }

  .headline-Textbg h1 {
    font-size: 3rem;
  }
  .headline-Textbg p {
    font-size: 16px;
  }

  .box-Jaeleng {
    position: absolute;
    width: 490px;
    height: 690px;
    transform: translateY(120px);
    left: 0;
    overflow: hidden;
    z-index: 9;
}
}

@media (max-width: 640px) {
  .bgI-1 {
    border: 20px solid rgb(54, 94, 50);
  }
  .headline-Textbg {
    width: 100%;
  }
  .headline-Textbg h1 {
    font-size: 2rem;
  }
  .headline-Textbg p {
    font-size: 16px;
  }
  .menu-grid {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .box-header {
    position: absolute;
    bottom: 50px;
    left: 70px;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    z-index: 10;
  }
  .right-path {
    right: 20px;
    top: 15%;
  }
  .bi01 {
    width: 100%;
    height: 435px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.box_text {
 
  top: 30%;
  left: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}


}

@media (max-width: 430px) {


  .menu-grid p {
    display: none;
  }
  .headline-Textbg {
    width: 100%;
  }
  .box-header {
    display: none;
  }
  .box-header_sm  {
    display: none;
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 15px;
    font-weight: 600;
    border-bottom-right-radius: 25px;
    background-color: rgb(54, 94, 50);
    color: rgb(255, 255, 255);
    z-index: 5;
  }

  .list-iconsPath {
    position: absolute;
    background-color: #365e32;
    display: flex;
    left: 0;
    top: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    gap: 10px;
    z-index: 8;
  }
  .right-path {
    width: 40px;
    height: 40%;
    right: 0;
    top: 25%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;
  }


  .list-iconsPath {
    position: absolute;
    background-color: #365e32;
    left: 10px;
    top: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    gap: 10px;
    z-index: 8;
}



}


