.sidenav {
    height: 100%; /* Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navbar span {
    margin-left: 1.5rem;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 50%;
  }
  
  .navbar {
    height: auto;
    background-color: #365E32;
    color: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    
  }

  
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  

  
  .Navcenter{
  width: 20%;


  top: 0;
  margin: 0 auto;
  background-color: #ffffff;
  clip-path: circle(50% at 50% 0);
  z-index: 9;
 
  }

   